{% extends 'BaseLayout.twig' %}
{% block content %}

<script src="src\Layouts\Overview.js"></script>
<link rel="stylesheet" href="src/Layouts/Overview.css">

    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search" >

        <table id="Overview" class ="table">
            <tr class="table-success">        
                <th scope="col">ID</th>
                <th scope="col" >Pricing</th>
                <th scope="col" >Status</th>
                <th scope="col" >Start_time</th>  
                <th scope="col" >Type</th> 
                <th scope="col" >Customer</th>  
            </tr>
        {% for info in Infos %}
            <tr>
                <td>{{ info.id }}</td>
                <td>{{ info.pricing}}</td>
                <td>{{ info.status}}</td>
                <td>{{ info.start_time |date('Y-m-d H:i:s')}}</td>
                <td>{{ info.Type}}</td>
                <td>{{ info.Client}}</td>

            </tr>
        {% endfor %}
        </table>
{% endblock %}

