{% extends 'BaseLayout.twig' %}
{% block title %}
   Details 
{% endblock %}

{% block content %}

<link rel="stylesheet" href="src/Layouts/Overview.css">

{% if Errors == "" %}
<table id="Overview" class ="table">
   <tr class="table-success">        
       <th scope="col">ID</th>
       <th scope="col" >Status</th>
       <th scope="col" >Start_time</th>  
       <th scope="col" >End_time</th>
       <th scope="col" >Type</th> 
       <th scope="col" >Services</th>
       <th scope="col">Price</th>
       
   </tr>

{% for info in Infos %}

   <tr>
       <td>{{ info.Id }}</td>
       <td>{{ info.Status}}</td>
       <td>{{ info.Start_time |date('Y-m-d H:i:s')}}</td>
       <td>{{ info.End_date |date('Y-m-d H:i:s')}}</td>
       <td>{{ info.Type}}</td>
       <td><ul>
       {% for service in info.Services %}
       <li>{{ service }}</li>
       {% endfor %}
      </ul></td>
      <td>{{info.Price}}</td>
   </tr>
{% endfor %}
</table>
{% else %}
<div  style="text-align: center; position: fixed; left: 50% ;top:50%" class="card">
   <div class="card-body">
   {{Errors}}
   </div>
</div>
{% endif %}
{% endblock %}